<tr class="topic-row" id="<%= "topic-#{topic.id}" %>" data-id="<%= "#{topic.id}" %>">
  <td>
    <%= topic.title.titleize %>
    <span class="created-date"><%= formatted_date(topic.created_at) %></span>
  </td>
  <td class="vote-count"><%= "#{topic.count} votes" %></td>
  <td class="btn-col">
    <span data-id="<%= "#{topic.id}" %>" class="vote btn btn-small border-radius" data-dir="up"><%= "upvote" %></span>
  </td>
  <td class="btn-col">
    <span data-id="<%= "#{topic.id}" %>" class="vote btn btn-small border-radius" data-dir="down"><%= "downvote" %></span>
  </td>
</tr>