<script>
  <%= "topics=#{@topics.to_json};".html_safe %>
  <%= "current_user=#{current_user.to_json};".html_safe %>
  <%= "pageCohort=#{@cohort.to_json ||= nil};".html_safe %>
</script>
<div class="topic-list">
  <div class="topic-list-header top-border-radius">
    <h2><%= list_title(@cohort) %></h2>
  </div>

  <div class="topic-list-body">
    <table class="topics-table"></table>
  </div>

  <div class="topic-list-footer bottom-border-radius">
    <%= render 'footer_cohort_nav' %>
    <%= render 'new_topic_form' %>
  </div>
</div>