<div id="signup-form" class="small-form bottom-border-radius">
  <h4>Signup below</h4>
  <%= form_tag users_path do %>
    <div class="field">
      <%= text_field_tag "user[name]", nil, placeholder: "name", class: "small-form-field" %>
    </div>

    <div class="field">
      <%= text_field_tag "user[email]", nil, placeholder: "email", class: "small-form-field" %>
    </div>

    <div class="field">
      <%= password_field_tag "user[password]", nil, placeholder: "password", class: "small-form-field" %>
    </div>

    <div class="field">
      <%= password_field_tag "user[password_confirmation]", nil, placeholder: "password", class: "small-form-field" %>
    </div>

    <div class="actions">
      <div>
        <%= submit_tag "Sign up", class: "btn-small-form border-radius" %>
      </div>
    </div>
  <% end %>
</div>